div a {
  margin-top: 10px;
}

.title {
  text-align: center;
}

.fieldsContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.loginContainer {
  background-color: #ff00003d;
  border-radius: 10px;
  margin-top: 50px;
}

.form {
  padding: 60px;
}
